.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    min-height: 67vh;
}

.block>div:last-child {
    display: flex;
    padding: 0 1rem;
}

@media screen and (max-width: 1000px) {
    .block {
        flex-direction: column;
    }

    .block>div:first-child {
        text-align: center;
    }

    .block>div:first-child>h1 {
        max-width: 800px;
    }

    .block>div:first-child>p {
        max-width: 600px !important;
        margin: 0 auto 2rem;
    }

    .block>div:first-child>h1>br {
        display: none;
    }

    .block>div:last-child {
        padding: 0 4rem;
    }
}

@media screen and (max-width: 640px) {
    .block {
        padding: 0 1rem;
    }
}

@media screen and (max-width: 500px) {
    .block>div:last-child {
        padding: 0 2rem;
    }
}