.block {
    padding: 5rem 4rem;
}

.left {
    width: 100%;
    background-color: red;
    flex: .5;
}

.right {
    background-color: #FFFFFF;
    flex: .5;
}

@media screen and (max-width: 767px) {
    .block {
        padding: 5rem 1rem;
    }
}